@media (max-width: 1048px) {
  /* header */
  label.logo {
    font-size: 3.2rem;
    padding-left: 6rem;
  }

  nav ul {
    margin-right: 2rem;
  }

  nav a {
    font-size: 1.7rem;
  }

  
  /* video */
  #video video {
    max-width: 60rem;
    border-radius: 10px;
  }

  /* contact */
@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    margin: 3rem 5rem;
  }

  .contact-form h2 {
    font-size: 3rem;
  }

  .contact-form .text-box {
    width: 100%;
  }

  .contact-form .form .text-box:first-child {
    margin-bottom: 2rem;
  }
}

@media (max-width: 909px) {
  nav #icon {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f36407e;
    top: 8rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav li {
    display: block;
    margin: 5rem 0;
    line-height: 3rem;
  }

  nav a {
    font-size: 2rem;
  }

  a.active,
  a:hover {
    border: none;
    color: var(--secondary-color);
  }

  nav ul.show {
    left: 0;
  }

  section h1 {
    font-size: 2rem;
  }

  section .cards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  /* intro */

  .intro-content .text h2,
  .intro-content .text p {
    text-align: center;
    color: #777;
  }
  /* video */
  #video video {
    max-width: 45rem;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  /* home */
  .text-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    
  }
  /* contact */
.contact-info{
  /* font-size: 4rem !important; */
  padding-left: 2rem;
  width: 100%;
  
}
}

@media (max-width: 400px) {
  /* intro */
  .intro-container {
    height: 130vh;
  }
  /* video */
  #video video {
    max-width: 35rem;
  }





 
}
