* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primary-color: rgb(9, 30, 88);
}

/* ************** */
/* HEADINGS */
/* ************** */

h1 {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 2.6rem;
  padding: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

/* ************** */
/*  UTILITIES*/
/* ************** */

.btn:link,
.btn:visited {
  color: #000;
  background-color: var(--primary-color-trans);
  border: 2px solid #333;
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin: 2rem;
}
.btn:hover,
.btn:active {
  background-color: rgba(253, 246, 235, 0.1);
  border: 1px solid rgba(253, 246, 235, 0.8);
  color: #fff;
  /* filter: drop-shadow(2px 5px 5px 5px #222); */
}

/* ************** */
/* HEADER */
/* ************** */

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(/Img/background/background-1.jpg) no-repeat center center/cover fixed;
  height: 100vh;
  z-index: -1;
}

.header-content {
  color: #fff;
  /* background: #333; */
  position: absolute;
  top: 50%;
  left: 10%;
  /* z-index: 3; */
}

nav {
  position: fixed;
  top: 0px;
  transition: 0.6s;
  z-index: 30;
  background: transparent;
  height: 5rem;
  width: 100%;
}

.logo {
  padding: 0 5rem 0 3rem !important;
  line-height: 8rem;
}

.logo a {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

nav ul {
  font-size: 3rem;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 0.8rem;
  line-height: 8rem;
}

nav a {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0.7rem 0;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a:hover {
  border: 1px solid #fff;
  transition: 0.5s;
}

nav #icon {
  color: #fff;
  line-height: 8rem;
  font-size: 3rem;
  float: right;
  margin-right: 4rem;
  cursor: pointer;
  align-items: center;
  display: none;
}

.nav.sticky {
  background: rgba(77, 103, 133, 0.767);
  height: 8rem;
  z-index: 10;
}
