@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Darker Grotesque", sans-serif;
}

:root {
  --primary-color: rgb(9, 30, 88);
  --secondary-color: #f4f4f4;
  --third-color: #777;
}

/* ************** */
/* HEADINGS */
/* ************** */

h1 {
  font-size: 4rem;
  padding: 0 1rem;
  text-align: center;
}

h2 {
  font-size: 3.8rem;
  padding: 1rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 0 1rem 1rem;
  text-align: center;
}

p {
  font-size: 2rem;
  /* font-weight: 600; */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* ************** */
/*  UTILITIES*/
/* ************** */

.btn:link,
.btn:visited {
  color: rgba(253, 246, 235, 0.8);
  background-color: var(--primary-color-trans);
  border: 2px solid #333;
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  margin: 2rem;
}
.btn:hover,
.btn:active {
  background-color: rgba(253, 246, 235, 0.1);
  border: 2px solid rgba(253, 246, 235, 0.8);
  color: #fff;
  /* filter: drop-shadow(2px 5px 5px 5px #222); */
}

/* ************** */
/* HEADER */
/* ************** */

.header {
  background-color: transparent;
  
  height: 100vh; 
  height: calc(var(--vh, 1vh) * 100);
  z-index: -1;
  display: flex;
  transition: 0.3s ease;
  background: url('../Img/background/DSC04791.JPG')fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.text-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f7f7f7;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-in ;
  transition: 0.3s ease-in;
  /* filter: drop-shadow(1px 5px 5px #f7f7f7); */
}

.header-content {
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 40rem;
  justify-content: center;
  /* transition: all 0.5s ease; */
}

nav {
  position: fixed;
  top: 0px;
  transition: 0.6s;
  z-index: 30;
  background: transparent;
  height: 5rem;
  width: 100%;
}

.logo {
  background: url("/Img/Asset\ 1\ \(1\).png") no-repeat center center/cover;
  padding: 0 9rem 0 10rem !important;
  line-height: 8rem;
  font-size: 3.2rem;
  margin-left: 2rem;
}

nav ul {
  font-size: 3rem;
  float: right;
}

nav li {
  display: inline-block;
  margin: 0 0.8rem;
  line-height: 8rem;
}

nav a {
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0.7rem 0;
  border-radius: 3px;
  text-decoration: none;
}

a.active,
a:hover {
  border: 1px solid #fff;
  transition: 0.5s;
}

nav #icon {
  color: #fff;
  line-height: 8rem;
  font-size: 3rem;
  float: right;
  margin-right: 4rem;
  cursor: pointer;
  align-items: center;
  display: none;
}

.nav.sticky {
  background: rgba(77, 103, 133, 0.767);
  height: 8rem;
  z-index: 10;
}

/* ************** */
/* INTRO*/
/* ************** */

#intro {
  background-color: #f4f4f4;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}




.intro-content {
  background-color: var(--secondary-color);
  height: 100%;
  width: 100%;
  padding: 5.5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-content .text {
  /* background-color: #333; */
  padding: 0 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.intro-content .text h2,
.intro-content .text p {
  text-align: left;
  color: #000;
}

/* ************** */
/* VIDEO*/
/* ************** */

#video {
  background-color: #f4f4f4;
  position: relative;
}

.video-container{
  background: url("/Img/background/background-4.jpg") no-repeat center
    center/cover fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

}



#video video {
  max-width: 90rem;
  border-radius: 10px;
}

/* ************** */
/* GALLERY */
/* ************** */

#gallery {
  /* margin: 2rem 0; */
  padding: 0;
  background: url("/Img/background/background-4.jpg") no-repeat center
    center/cover fixed;
}

.gallery-container {
  max-width: 760px;
  /* padding: 8rem 0 0; */
  margin: auto;
  border: var(--third-color) solid 3px;
  background: white;
}

.main-img {
  position: relative;
}

.main-img h3 {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.gallery-container .img {
  position: relative;
}

.gallery-container .img h6 {
  position: absolute;
  bottom: 1rem;
  left: 0;
}

/* fade i nanimation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in 1 forwards ;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

/* ************** */
/* RECOMMENDATION */
/* ************** */

#recommendation {
  background-color: var(--secondary-color);
  position: relative;
  /* padding: 6rem 0 4rem; */
  /* margin: 6rem 0 0 0; */
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-recommendation {
  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
}

.section-recommendation:nth-child(1),
.section-recommendation:nth-child(3) {
  color: #fff;
}

.section-recommendation:nth-child(2),
.section-recommendation:nth-child(4) {
  color: #1d212b;
  background: #fff;
}

.section-recommendation h2 {
  font-size: 3.8rem;
  text-align: center;
  /* text-transform: uppercase; */
  margin: 3rem 0;
  color: var(--third-color);
  padding-bottom: 3rem;
}

.section-recommendation .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-recommendation .cards .text-cards {
  background: transparent;
  margin: 1rem 3rem;
  padding: 1rem;
  /* font-size: 1rem; */
  /* font-weight: 100; */
}

blockquote {
  line-height: 150%;
  padding: 2%;
  font-style: italic;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: var(--third-color);
}

blockquote div {
  margin: 20px 0 0 0;
  display: block;
}
.testimonals_name {
  display: flex;
  justify-content: flex-end;
}
cite {
  text-align: left;
  font-style: italic;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 3% 0 12% 3%;
  display: block;
  color: var(--third-color);
}

blockquote::before {
  content: "\201D";
  display: block;
  font-size: 400%;
  position: absolute;
  top: -8px;
  right: -3px;
}

/* ************** */
/* CONTACT */
/* ************** */
#contact {
  background: url("/Img/background/background-3.jpg") no-repeat center
    center/cover fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.contact-info {
  color: #fff;
  max-width: 50rem;
  line-height: 6.5rem;
  padding-left: 5rem;
  font-size: 5rem;

  /* background-color: #333; */
}

.contact-info span {
  font-size: 5rem;
  visibility: hidden;
}

.contact-info i {
  margin-right: 3rem;
  font-size: 3rem;
}

.contact-form {
  max-width: 70rem;
  margin-right: 5rem;
}

.contact-info,
.contact-form {
  flex: 1;
}

.sci {
  padding: 5rem 0 0 0;
}

.sci ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.sci ul li a {
  border: none;
}
.contact-info .fab {
  font-size: 4rem;
  color: #fff;
  -webkit-transition: 0.3s ease ;
  transition: 0.3s ease;
}

.contact-info .fab:hover {
  color: #333;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-size: 6rem;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
}

.contact-form .text-box {
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 1rem);
  height: 5rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 1.5rem;
}

.contact-form textarea {
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.5rem;
  min-height: 20rem;
  max-height: 40rem;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 2rem 0 2rem 0;
  opacity: 0.9;
}

.contact-form .text-box:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form .send-btn {
  float: right;
  background: #2e94e3;
  color: #fff;
  border: none;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  -webkit-transition: transition: 0.3s ;
  transition: 0.3s;
  cursor: pointer;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

/* ************** */
/* FOOTER */
/* ************** */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  background-color: #333;
  color: #f4f4f4;
}

.copyright {
  margin: 0;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
}
